<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">Video Player</div>
      <div class="nav">
        <div class="navContainer">
          <a href="{{ url_for('home') }}" class="navLinks">Home</a>
          <a href="{{ url_for('upload') }}" class="navLinks">Upload Video</a>
          <a href="{{ url_for('allVideos') }}" class="navLinks">All Videos</a>
          <a href="https://github.com/tanzeyl" class="navLinks"
            >About The Developer</a
          >
        </div>
      </div>
    </header>
    {% block uploadForm %} {% endblock %}{% block tagForm %} {% endblock %} {%
    block videos %}{% endblock %} {% block video %}{% endblock %}
    <footer>
      <div class="left">
        <center>
          <h2 style="color: white">Download our APP!</h2>
          <br /><br />
          <p style="color: gray">Download our app for Android and iOS</p>
          <br /><br />
          <img
            src="../static/images/Appstore.png"
            alt="PlayStore"
            width="200px"
          />
          <br /><br />
          <img
            src="../static/images/playstore.png"
            alt="AppStore"
            width="200px"
          />
        </center>
      </div>
      <div class="mid">
        <div class="footerLogo">@tanzzeyl</div>
        <div class="footerText">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex rem natus
          exercitationem hic, provident doloremque omnis sunt tempora nihil
          odio?<br /><br />Lorem ipsum dolor sit amet.
        </div>
      </div>
      <div class="right">
        <h2 class="followHeader">Follow Us</h2>
        <p class="social">Instagram</p>
        <p class="social">Facebook</p>
        <p class="social">Youtube</p>
      </div>
    </footer>
  </body>
</html>
