{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block videos %}
<div class="container">
  {% for i in range(length) %}
  <form action="/singleVideo" method="POST" class="hiddenForm">
    <button class="videoBtn">
      <video autoplay loop muted>
        <source src="{{ locations[i] }}" />
      </video>
    </button>
    <input type="hidden" value="{{ ids[i] }}" name="id" />
  </form>
  {% endfor %}
</div>
<center>
  <button class="btn">
    <a href="{{ url_for('upload') }}">Upload Video</a>
  </button>
</center>
{% endblock %}
